* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #eceaf0;
}

.header {
  margin-top: 64px;
}

input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.header__textbox {
  max-width: 688px;
  margin: 0 auto;
}

.header__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}

.header__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
}

.header__selects {
  display: flex;
  gap: 10px;
  width: 525px;
  flex-direction: column;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__select {
  width: 525px;
}

.label {
  display: block;
  color: rgba(129, 129, 130, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.select__name {
  height: 38px;
  width: 452px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: rgba(206, 212, 218, 1);
  color: rgba(206, 212, 218, 1);
  cursor: pointer;
  font-size: 16px;
  line-height: 21px;
  padding-left: 17px;
}

.select__school {
  height: 38px;
  width: 216px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: rgba(206, 212, 218, 1);
  color: rgba(206, 212, 218, 1);
  cursor: pointer;
  font-size: 16px;
  line-height: 21px;
  padding-left: 17px;
}

.option {
  font-size: 16px;
  line-height: 21px;
}

section {
  padding: 40px 0 40px;
}
.container {
  margin: 0 auto;
  max-width: 90%;
}

.hp__cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
  border-top: 1px solid rgba(222, 226, 230, 1);
  padding-top: 40px;
}

.hp__card {
  height: 409px;
  width: 334px;
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  border-radius: 4px;
  overflow: hidden;
}

p {
  padding-top: 8px;
}

.hp__text {
  padding: 24px 25px 24px 24px;
  height: 217px;
}

.hp__pic {
  height: 192px;
  width: 334px;
  overflow: hidden;
  position: relative;
  background-color: gray;
}

img {
  width: 100%;
  height: auto;
  bottom: 50%;
  position: absolute;
  top: -1%;
  left: -0.1%;
}

.footer {
  height: 50px;
  padding: 10px;
  background-color: rgb(97, 95, 95);
  color: white;
}

.content {
  min-height: calc(100vh - 50px - 121px);
}

.btn_search {
  margin: 10px 0 30px;
  background-color: white;
  border-radius: 4px;
  border: none;
  height: 25px;
  width: 55px;
  padding: 5px;
  cursor: pointer;
}

.like {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 10px;
  left: 270px;
  border-radius: 50%;
  background-color: rgb(249, 249, 250);
  border: none;
  cursor: pointer;
  z-index: 10;
  background-image: url("../components/image/Group\ 1\ like.svg");
  background-position: center top -26px;
}

.btn_like {
  position: fixed;
  top: 50px;
  right: 15px;
  width: 157px;
  height: 48px;
  border-radius: 48px;
  cursor: pointer;
  background-color: white;
  z-index: 30;
}

.btn_symbol {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: rgb(249, 249, 250);
  border: none;
  cursor: pointer;
  z-index: 10;
  background-image: url("../components/image/Group\ 1\ like.svg");
  background-position: center top -26px;
}

.btn_text {
  text-align: right;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14px;
}

.notlike {
  z-index: 5;
  display: block;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 10px;
  left: 270px;
  border-radius: 50%;
  background-color: rgb(249, 249, 250);
  border: none;
  cursor: pointer;
  background-image: url("../components/image/Group 1-not.svg");
  background-position: center top -26px;
}

.likes_pages {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d4d3d8;
  /* max-width: 90%; */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 25;
  padding: 10px;
}

.likes_page {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.likes_cross {
  cursor: pointer;
  text-decoration: underline;
}

/* .likes-item {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
} */

.likes_text {
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  .header__selects,
  .header__select {
    flex-direction: column;
    width: 90%;
  }
  .header__textbox {
    max-width: 90%;
  }
  .hp__cards {
    flex-direction: column;
  }
  .select__name,
  .select__school {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .header__title {
    font-size: 52px;
    line-height: 62px;
  }
  .header__text {
    font-size: 16px;
    line-height: 28px;
  }
}
